<div>
  <div class="sidebar">
    <div class="head">
      <div class="user_img">
        <div class="img">
          <img src="https://media.licdn.com/dms/image/v2/C5603AQEhTPs9WZbdaA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1602105364449?e=1730937600&v=beta&t=_wvFUYe09u31fqhKq_7lhhG3yfqOoY3laW7GwGLKYEA" alt="Profile Image">
        </div>
        <div class="user-details">
          <p class="name">Valentin DUCRETTET</p>
          <p class="title">CTO Facebook</p>
        </div>
      </div>
    </div>


    <div class="nav">
      <div class="menu">
        <div class="navigation">
          <i class="fa-solid fa-house icon"></i>
          <p>Accueil</p>
        </div>

        <div class="navigation">
          <i class="fa-solid fa-address-book icon"></i>
          <p>Rapport</p>
        </div>
        <div class="navigation">
          <i class="fa-solid fa-tag icon"></i>
          <p>Tag</p>
        </div>
        <div class="navigation">
          <i class="fa-solid fa-gear icon"></i>
          <p>Paramètres</p>
        </div>
        <div class="navigation">
          <i class="fa-solid fa-right-from-bracket icon"></i>
          <p><%= link_to "Me déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class:"grey" %></p>
        </div>
      </div>
    </div>

  </div>
</div>
